@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply hidden md:inline-flex h-6 cursor-pointer hover:scale-125 transition-all duration-150 ease-out;
  }
  .btn {
    @apply h-7 hover:scale-125 cursor-pointer transition-all duration-150 ease-out;
  }
}
